body {
  background-color: blue;
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
  float: left;
}

h1 {
  color: white;
}

#form1 {
  margin-left: 200px;
}

.side-nav li a {
  text-decoration: none;
}

#searchResults2 {
  background-color: #666666;
}

#searchResults {
  background-color: #666666;
}

.right li a {
  padding-right: 2em;
  text-decoration: none
}
