/* .App {
  text-align: center;
} */

.App-header {
  background-color: rgb(43, 43, 43);
  height: 80px;
  padding: 10px, 0px;
  color: rgb(225, 228, 238);
  text-align: center;
}

.App-title {
  font-size: 4.5em;
  margin-top: .2em
}

.App-intro {
  font-size: large;
}


body {
  background: rgb(43, 43, 43)
}

.Nav-btn {
  float: right;
}

.sidebar {
  padding-top: 2em;
  width: 30em;
  /* float: right; */
  /* flex-direction: row; */
  position: relative;
  position: sticky;
  height: 20em;
}

.brand {
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(43, 43, 43);

}


.list {
  padding-top: 2em;
}

.rowone {
  padding-top: 2em;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.infoText {
  margin: 40px;
  padding: 30px;
  position: relative;
  justify-content: center;

}

.video {
  display: flex;
  margin: 3em;
  padding: 30px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
